.page {
    ion-toolbar {
        --background: var(--ion-color-primary);
        --border-style: none;
        --border-color: transparent;
        --padding-top: 1rem;
        --padding-bottom: 1rem;
        --padding-start: 1rem;
        --padding-end: 1rem;
    }
    .content{
        height: auto;
        min-height: 100%;
        background: linear-gradient(to top, #96C8DC, #56B2DB);
    }
    ion-footer {
        background-color: #428CFF;
        color: white;
    }
}