.page {
  ion-toolbar {
    --background: var(--ion-color-primary);
    --border-style: none;
    --border-color: transparent;
    --padding-top: 1rem;
    --padding-bottom: 1rem;
    --padding-start: 1rem;
    --padding-end: 1rem;
  }
  .content {
    height: auto;
    min-height: 100%;
    background: linear-gradient(to top, #96c8dc, #56b2db);
    .headingText {
      margin-bottom: 0px;
    }
    ion-item, ion-label{
      color:#000
    }
    .progressBar{
      margin-top: -6px;
    }
  }
  ion-footer {
    background: linear-gradient(to right, #56b2db, #96c8dc);
    color: white;
  }
}
